body {
    min-height: 100vh;
    margin: 0;
}
header,
footer
 {
    background-color: #1F2937;
    color: whitesmoke;
    display: flex; 
    align-items: center;
}
header{
    justify-content: space-around;
}
footer {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.first {
    background-color: #1F2937;
    color: whitesmoke;
    padding: 50px;
    display: flex;
    justify-content:center;
    gap: 80px;
    margin-bottom: 80px;
 

}
.jam {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.ham {
    background-color: grey;
padding:100px 150px 100px 150px ;

}

.spam{
    max-width: fit-content
    
}
.second {
    text-align: center;
    margin-bottom: 15px;
}
.bread {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.beer{
    max-width: 200px;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px  
}
.quote {
    max-height: 200px ;
    max-width: 500px;
}

ul {
list-style: none;
display: flex;
gap: 10px;
}
img{
    height: 200px;
    width: 200px;
    
}


a:visited {
    color: grey;
}
a:link {
    color: red;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
}
