body {
    min-height: 100vh;
    margin: 0;
}
header,
footer
 {
    background-color: #1F2937;
    color: whitesmoke;
    display: flex; 
    align-items: center;
}
header{
    justify-content: space-around;
}
footer {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.first {
    background-color: #1F2937;
    color: whitesmoke;
    padding: 50px;
    display: flex;
    justify-content:center;
    gap: 80px;
    margin-bottom: 30px;
 

}
.jam {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.ham {
    background-color: grey;
padding:100px 150px 100px 150px ;

}
  

.second {
    text-align: center;
    margin-bottom: 15px;
}
.cheese {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}
.bread {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.beer{
    max-width: 200px;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:100px;
}

.quote {
    max-height: 200px ;
    max-width: 500px;
    margin-left: 30%;
}

#thor {
    display: flex;
    justify-content:flex-end ;
}

.fourth {
    height: 300px;
display: flex;
justify-content: center;
align-items: center;
}

.banner-container{
    background-color: aqua;
    width: 60%;
    height: 40%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
}
.last-left{
    width: 70%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.last-right{
    display: flex;
    justify-content:flex-start;
    align-items: center;

}
 .last-title{
    font-size: 24px;
    font-weight: 700;
 
 }
.last-text {
   font-weight: 500;
}


ul {
list-style: none;
display: flex;
gap: 10px;
}
img{
    height: 200px;
    width: 200px;
    
}


a:visited {
    color: grey;
}
a:link {
    color: red;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    
    
}
